
scikit-learn==1.8.0
joblib==1.5.3
numpy==1.26.4
scipy==1.10.1

fastapi==0.115.8
uvicorn==0.30.6
pydantic==2.9.2

nltk==3.8.1
emoji==2.15.0
langdetect==1.0.9
requests==2.32.5
python-dotenv==1.2.1

streamlit==1.52.2
plotly==5.9.0
pandas==1.5.3